.LeftBar{
    position: fixed;
    left: 0;
    width: 20vw;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    font-family: 'NEXON Lv1 Gothic OTF';
}
.Topics{
    margin-top: 2rem;
    padding: 1rem;
}
.Topics>*{
    font-weight: 600;
    line-height: 2rem;
}
  
