.LinkTopic{
    cursor: pointer;
}
.linkText{

    color: #424242;
    font-size: 1.7rem;
    padding-bottom: 1rem;
}
.wrap{
    width: 17.1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.count{
    margin-top: 0.2rem;
    background: #FFA337;
    padding: 1px;
    width: 3rem;
    height: 1.5rem;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}