.TodoInsert{
    position: fixed;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 10;
    
}
.TodoInsert>button>svg{
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    color: white;
    font-size:3rem;
}
.TodoInsert>button{
    position: absolute;
    right: 1.2rem;
    bottom: 1rem;
    background: #FFA723;
    border: none;
    border-radius: 50%;
    padding: 0;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2.72222px 6.125px 15.6528px rgba(255, 187, 104, 0.5);
    outline: none;
    cursor: pointer;
}
.TodoInsert input{
    font-size: 1.2rem;
    position: absolute;
    right: 3rem;
    bottom: 1rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
    height: 4rem;
    padding-left: 2rem;
    padding-top: 3px;
    outline: none;
    width: 20rem;
    padding-left: 1rem;
    box-shadow: 2.72222px 6.125px 15.6528px rgba(255, 187, 104, 0.25);
}
.TodoInsert input::placeholder{
    padding-left: 1.5rem;
    font-family: 'IBMPlexSansKR-Regular';
}
