.main{
    position: fixed;
    left: 20vw;
    top: 0;
}
.TodoTemplate{
    margin-left: 4rem;
    background-color: #FFF0DE;
    width: 80vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
} 
