.TodoListItem{
    width: 12rem;
}
.check{
    height: 5rem;
    width: 10rem;
    margin: 2rem;
}
.blank{
    height: 2rem;
    background: #FF8F0C;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.TodoListItem:nth-child(3n-1) .blank{
    background: #7386FC;
}
.TodoListItem:nth-child(3n) .blank{
    background:     #8F37FF;
}
.text{
    padding: 1rem;
    height: 6rem;
    font-size: 0.5em;
    background: #FFA337;
    overflow: hidden;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.TodoListItem:nth-child(3n-1) .text{
    background: #7C91FC;
}
.TodoListItem:nth-child(3n) .text{
    background: #AB69FF;
}