/* 여기서 todo 제목 수정 */
.TodoTopic{
    margin-left: 1rem;
   
    width: 100%;

}

/* .TodoTopic:nth-child(1){
    display: none;
} */
.app-title{
    color: #FFA723;
    font-size: 2rem;
    font-family: 'yg-jalnan';
    

}


