.TopicInsert{
    position: fixed;
    left:1rem;
    top:5rem;
    z-index: 2;
}
.TopicInsert>input{
    width:12vw;
    border: none;
    outline: none;
    background: #F1EFED;
    height: 2.6rem;
    border-radius: 2px;
    font-size: 0.8rem;
    
    padding-left: 1rem;
    padding-top: 0.15rem;
    display: flex;
    z-index: 3;
}
.TopicInsert>input::placeholder{
    color: #AFAFAF;
}
.TopicInsert>button{
    position: relative;
    left:12.5vw;
    top: -2.6rem;
    color: #F1EFED;
    background: white;
    border: none;
    padding: 0.7rem 0.5rem;
    margin: 0;
    width: 2.6rem;
    height: 2.6rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F1EFED;
    border-radius: 0.2rem;
    outline: none;
    cursor: pointer;
    z-index: 3;
}
.TopicInsert>button>svg{
    font-size: 20px;
    color: #BFC0BD;
}
