.PwInsert>input{
    border: 1.6px solid #DADCE0;
    width: 10rem;
    height: 2rem;
    border-radius: 0.4rem;
    font-family: 'IBMPlexSansKR-Regular';
    outline: none;
}

.PwInsert>input::placeholder{
    color:#7E8388; 
    padding-left: 0.5rem;
}
.PwInsert>input:hover{
    border: 1.6px solid #FFA723;
}